/* External Stylesheet */
/* General changes */
body {
	margin: 0px;
	background-color: #222034;
	padding-bottom: 100px;
	padding-top: 20px;
	text-align: center;
	font-size: 30px;
  font-family: "Jura";
	color: white;
	text-transform: lowercase;
}

h1 {
	margin: 0px;
	text-align: left;
	text-indent: 110px;
	font-weight: bold;
	font-size: 40px;
}

h2 {
	margin: 0px;
  text-align: left;
  font-size: 36px;
	font-weight: bold;
}

a:link, a:visited, a:focus {
	text-decoration: none;
	color: white;
	text-align: center;
}

a:hover {
	text-decoration: none;
	color: lightgray;
}

/* Class changes */
.imagediv {
	margin: 0px;
	padding-top: 40px;
	float: top;
}

.headimg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.headname {
	display: block;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

.linkdiv {
	padding-top: 20px;
	text-align: center;
}

.pixeldiv {
	padding: 15px;
	margin: 0px;
	width: 400px;
	float: right;
	margin-right: auto;
	margin-left: auto;
}

.pixeldiv h1 {
	text-align: center;
	position: relative;
	left: -50px;
}

.art {
	padding: 10px;
	width: 400px;
	margin: 0px;
	padding-top: 5px;
}

.art img {
	display: block;
	width: 320px;
	height: 320px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border: 2px dashed gray;
	border-radius: 2%;
	padding: 10px;
}

.gamediv {
	padding: 20px;
	margin: 0px;
	width: 900px;
	float: left;
}

.gamebox {
	width: 900px;
	height: auto;
	border: 2px dashed gray;
	border-radius: 2%;
	padding: 10px;
	margin-bottom: 20px;
}

.image {
  display: block;
  width: 300px;
	height: 300px;
	border-radius: 2%;
	float: left;
}

.down_overlay {
	display: block;
	border-radius: 2%;
  background-color: #526077;
	position: relative;
	top: -5px;
	padding: -5px;
	z-index: -2;
  overflow: hidden;
  width: 300px;
  height: 0;
  transition: 1s ease;
}

.right_overlay {
	display: block;
	border-radius: 2%;
  background-color: #6B7D90;
  overflow: hidden;
	position: relative;
	left: -10px;
	z-index: -1;
	height: 300px;
	width: 0;
  transition: 1.3s ease;
}

.gamebox:hover .down_overlay {
	height: 50px;
}

.gamebox:hover .right_overlay {
	width: 600px;
}

.down_text {
  color: white;
	position: relative;
  font-size: 30px;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.right_text {
	text-align: left;
  color: white;
	position: relative;
  font-size: 34px;
  overflow: hidden;
	width: 90%;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
