/* External Stylesheet */
/* General changes */
body {
	margin: 0px;
	background-color: #222034;
	padding-bottom: 100px;
	padding-top: 20px;
	text-align: center;
	font-size: 24px;
  font-family: sans-serif;
	color: white;
	text-transform: lowercase;
}

h1 {
	text-align: left;
	text-indent: 115px;
	font-weight: normal;
	font-size: 30px;
}

h2 {
  text-align: left;
  font-size: 30px;
	font-family: garamond;
}

a:link, a:visited, a:focus {
	text-decoration: none;
	color: white;
	text-align: center;
}

a:hover {
	text-decoration: none;
	color: lightgray;
}

/* Class changes */
.imagediv {
	margin: 0px;
	padding-top: 40px;
	float: top;
}

.linkdiv {
	padding-top: 30px;
	text-align: center;
}

.gamediv {
	padding: 40px;
	margin: 0px;
}

.gamebox {
	width: 900px;
	height: auto;
	border: 2px dashed gray;
	border-radius: 2%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.image {
  display: block;
  width: 300px;
	height: 300px;
	border-radius: 2%;
	float: left;
}

.down_overlay {
	display: block;
	border-radius: 2%;
  background-color: #526077;
	position: relative;
	top: -5px;
	padding: -5px;
	z-index: -2;
  overflow: hidden;
  width: 300px;
  height: 0;
  transition: 1s ease;
}

.right_overlay {
	display: block;
	border-radius: 2%;
  background-color: #526055;
  overflow: hidden;
	position: relative;
	z-index: -1;
	left: -10px;
	height: 300px;
	width: 0;
  transition: 1.3s ease;
}

.gamebox:hover .down_overlay {
	height: 50px;
}

.gamebox:hover .right_overlay {
	width: 600px;
}

.down_text {
	white-space: nowrap;
  color: white;
	position: relative;
  font-size: 20px;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.right_text {
	text-align: left;
	padding-left: 40px;
	white-space: nowrap;
  color: white;
	position: relative;
  font-size: 20px;
  overflow: hidden;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
